---
layout: default
title: Sagar Ghai
---
<div class="container-column">
    <div class="home-greeting">
        <h1 class="home-greeting-shout">Hi!</h1>
        <h2>I&lsquo;m <a href="https://www.linkedin.com/in/sagar-ghai-374840b8" target="_blank">Sagar</a> &ndash; a Software Engineer at <a href="http://www.nucleussoftware.com" target="_blank">Nucleus</a> in New Delhi, India.</h2>
        <h2>I <a href="/reading">Read</a>,<a href="/blog">Write</a> and <a href="https://getpocket.com/@596Afg34dmI43T191epdh31p79T2d471cQ8ud7K979DYT2nf221cpC12p87LU5af">Explore</a></h2>
    </div>
</div>
<div class="toc">
    <div class="home-greeting">
        <div class="toc-row">
            <h2>2018</h2>
        </div>
        <hr class="toc-line toc-line-thick">

 		{% for post in site.categories.2018 %}
        <div class="toc-row">
            <div class="toc-date">{{ post.date | date_to_string }}</div>
            <div class="toc-content">
                <h3 class="toc-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <div>{{post.description}}</div>
            </div>
        </div>
        <hr class="toc-line">
        {% endfor %}

        <div class="toc-row">
            <h2>2017</h2>
        </div>
        <hr class="toc-line toc-line-thick">

        {% for post in site.categories.2017 %}
        <div class="toc-row">
            <div class="toc-date">{{ post.date | date_to_string }}</div>
            <div class="toc-content">
                <h3 class="toc-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <div>{{post.description}}</div>
            </div>
        </div>
        <hr class="toc-line">
        {% endfor %}
    </div>
</div>
