<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NKFXB5R');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sagar Ghai, Sagar Ghai IIM Indore" />
    <meta name="description" content="Sagar Ghai's Webpage, ghaisaab, Sagar Ghai, Sagar Ghai IIM Indore, MBA desiMBA,Sagar Ghai IIT Mandi, desi mba, IIT Mandi, " />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="alternate" type="application/atom+xml" />
    <meta name="theme-color" content="#444444" />
    <meta property="og:title" content="Sagar Ghai" />
    <meta property="og:url" content="http://sagarghai.com" />
    <meta property="og:site_name" content="Sagar Ghai" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/images/main.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>
    
    <title>{{ page.title }}</title>
  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top bg-white">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" width="80" height="80" alt="Sagar Ghai">
        </a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="mx-auto navbar-nav mt-2 mt-lg-0 mr-5">
                <li class="nav-item ml-3">
                    <a class="nav-link text-primary" href="/blog">Blog</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-primary" href="/books">Book Reviews</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-primary" href="https://valleyofnumbers.substack.com/" target="_blank">Valley of Numbers</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-primary" href="/projects">Projects</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-primary" href="/public/SagarGhai.pdf">CV</a>
                </li>
            </ul>
            <ul class="float-right navbar-nav mt-2 mt-lg-0 mr-5" id="contact-element">
                <li class="nav-item ml-3">
                    <a class="btn btn-light btn-outline-dark" href="/contact">Contact</a>
                </li> 
            </ul>
      </div>
    </nav>

    <div class="container" id="main">
        {{content}}

    <!-- <div class="container"> -->
        <div class="row p-5">
            <div class="col text-center">
                <a class="fa fa-twitter fa-lg"  href="https://twitter.com/iamsagarghai" target="_blank"></a>
            </div>
            <div class="col text-center">
                <a class="fa fa-instagram fa-lg text-danger"  href="https://www.instagram.com/ghaisaaaab/" target="_blank"></a>
            </div>
            <div class="col text-center">
                <a class="fa fa-linkedin fa-lg text-info"  href="https://www.linkedin.com/in/sagar-ghai-374840b8" target="_blank"></a>    
            </div>
            <div class="col text-center">
                <a class="fa fa-medium fa-lg text-success"  href="https://medium.com/@sagarghai" target="_blank"></a>    
            </div>
            <div class="col text-center">
                <a class="fa fa-github fa-lg text-secondary"  href="https://github.com/sagarghai" target="_blank"></a>    
            </div>
        </div>
    <!-- </div> -->

    <div class="bg-white text-center">
         <span class="text-muted small">Created by <a href="https://sagarghai.com/">Sagar Ghai</a> using <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>. Hosted at <a href="https://github.com/sagarghai" target="_blank">Github</a></span>
    </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKFXB5R"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript">
        function myFunction() {
            var element = document.getElementById("contact-element");
            element.classList.remove("float-right");
        }

        var x = window.matchMedia("(max-width: 990px)")
        myFunction(x) // Call listener function at run time
        x.addListener(myFunction) // Attach listener function on state changes
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
