<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- @author: Sagar Ghai -->
<!-- @email: sagar_ghai@outlook.in-->
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sagar Ghai, Sagar Ghai IIM Indore" />
    <meta name="description" content="Sagar Ghai's Webpage, sagar ghai, ghaisaab, Sagar Ghai" />
    <link rel="alternate" type="application/atom+xml" />
    <meta name="theme-color" content="#444444" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="Sagar Ghai" />
    <meta property="og:url" content="http://sagarghai.github.io" />
    <meta property="og:site_name" content="Sagar Ghai" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>
</head>
<body>
    <div class="nav">
        <h1 class="nav-logo">
    <a href="/">
      <img src="/images/logo.png" alt="SagarGhai" style="width:60px;">
    </a>
        </h1>
        <ul class="nav-menu" >
            <li class="nav-menu-item"><a href="/public/Sagar_Ghai_Resume.pdf" style="border-bottom: 2px solid rgb(191, 5, 5);">CV</a></li>
        </ul>
    </div>
    <div class="container-site">
        {{content}}
    </div>
    <div class="nav" style="position: unset; background-color: white">
        <ul class="nav-menu" style="margin:auto;">
            <li class="nav-menu-item"><a href="https://www.linkedin.com/in/sagar-ghai-374840b8/"><img src="/images/linkedin.png" alt="Linkedin" class="social-icon"/></a></li>
            <li class="nav-menu-item"><a href="https://medium.com/@sagarghai18695"><img src="/images/medium.png" alt="Blog" class="social-icon"/></a></li>
            <li class="nav-menu-item"><a href="https://twitter.com/iamsagarghai"><img src="/images/twitter.png" alt="Twitter" class="social-icon"/></a></li>
            <li class="nav-menu-item"><a href="https://github.com/sagarghai"><img src="/images/github.png" alt="Github" class="social-icon"/></a></li>
            <li class="nav-menu-item"><a href="mailto:p18sagarg@iimidr.ac.in"><img src="/images/gmail.png" alt="Email" class="social-icon"/></a></li>
            <li class="nav-menu-item"><a href="https://www.instagram.com/ghaisaaaab/"><img src="/images/instagram.png" alt="Instagram" class="social-icon"/></a></li>
        </ul>
    </div>
</body>
</html>
